<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
<!-- 
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css"> -->

        <link rel="stylesheet" href="css/my_normalize.css">
        <link rel="stylesheet" href="css/my_main.css">
        <script src = "js/vendor/my_script_2.js"></script>

    </head>
    <body>
		<div id="wrapper">
			<div class="overview">

				<section id="top_bar" class="inactive">
					<div class="inner">
						
						 <ul id="top_menu" role="navigation">
						 	
						 	<li>
						 		<a href="#">Item1</a>
						 	</li>

						 	<li>
						 		<a href="#">Item2</a>
						 	</li>

						 	<li>
						 		<a href="#">Item4</a>
						 	</li>

						 	<li>
						 		<a href="#"  class="sel_login">Log in</a>
						 	</li>

						 	<li>
								<b><a href="#"  class="sel_signup">Sign up</a></b>
							</li>

						</ul>

						<!-- end of nav_menu ul -->
        				
        				<div id="top_bar_hamburger" onclick="return Hamburger.toggle(this);">
            				<div class="hamburger">
                				<span class="hamburger--top-bun"></span>
                				<span class="hamburger--bottom-bun"></span>
            				</div>
        				</div>

        				<!-- end of hamburger menu code for mobile devices -->

        				<div id="logo" >
        					<a href="#">Your logo</a>
        				</div>
        				<!-- end of logo's div -->

					</div>
					<!-- end of inner div -->
				</section>
				<!-- end of #top_bar section  -->

				<!-- ************************ -->

				    
<nav class="platforms--mobile">
	<div class="inner">
		<ul class="secondary">
			<li><a href="#" >Sign up</a></li>
			<li><a href="#"  class="sel_login">Log in</a></li>
		</ul>
		<ul>
            <li class="overview active">
                <a href="#"><span class="svgicon icon-platforms-web"></span>Overview</a>
            </li>
			
			<li class="overview active">
                <a href="#"><span class="svgicon icon-platforms-web"></span>Overview</a>
            </li>
            
            <li class="overview active">
                <a href="#"><span class="svgicon icon-platforms-web"></span>Overview</a>
            </li>
            
            <li class="overview active">
                <a href="#"><span class="svgicon icon-platforms-web"></span>Overview</a>
            </li>
            
            <li class="overview active">
                <a href="#"><span class="svgicon icon-platforms-web"></span>Overview</a>
            </li>
            
            <li class="overview active">
                <a href="#"><span class="svgicon icon-platforms-web"></span>Overview</a>
            </li>
            
            <li class="overview active">
                <a href="#"><span class="svgicon icon-platforms-web"></span>Overview</a>
            </li>
            
            <li class="overview active">
                <a href="#"><span class="svgicon icon-platforms-web"></span>Overview</a>
            </li>
                        <li class="overview active">
                <a href="/overview"><span class="svgicon icon-platforms-web"></span>Overview</a>
            </li>
		</ul>
        <ul class="secondary">
            <li><a href="/premium" target="_blank">Premium</a></li>
            <li><a href="/Help" target="_blank">Help</a></li>
			<li><a href="http://doist.com" target="_blank">About us</a></li>
        </ul>
	</div>
</nav>

				<!-- ************************ -->

				<section class="section_banner text_white leftside_text">
					
					<div class="inner">
						<h1>Lorem ipsum dolor sit amet</h1>
        				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, 
        				aliquam</h2>
					

					<div class="seperator"></div>

					 <a href="#" class="button width-full width-auto-@sm sel_signup2" >Lorem ipsum dolor</a>
					
					<!-- Get started button -->
					
					 <div class="seperator"></div>

					    <a href="https://www.youtube.com/watch?v=aVS4W7GZSq0" class="button-play">
        				
        				<span class="svgicon icon-play-white"></span>

        				<span class="play--text">Watch a video</span>
    					
    					</a>

    					<!-- Watch video button -->

    					</div>
					<!-- end of inner div -->
				</section>
				<!-- end of banner section -->

				<nav class="platforms">
					<div class="inner">
						 <ul class="platforms-items">
            				
            				<li class="platforms-item is-active">
                				<a class="platforms-action" href="#">
                    				
                    				<div class="platforms-icon">
                    					<span class="svgicon icon-platforms-web"></span>
                    				</div>
                    				
                    				<div class="platforms-name">Lorem</div>
                				
                				</a>
           	 				</li>
           	 				<!-- platforms item -->
							<li class="platforms-item">
                				<a class="platforms-action" href="#">
                    				
                    				<div class="platforms-icon">
                    					<span class="svgicon icon-platforms-web"></span>
                    				</div>
                    				
                    				<div class="platforms-name">Lorem</div>
                				
                				</a>
           	 				</li>
           	 				<!-- platforms item -->
           	 				<li class="platforms-item">
                				<a class="platforms-action" href="#">
                    				
                    				<div class="platforms-icon">
                    					<span class="svgicon icon-platforms-web"></span>
                    				</div>
                    				
                    				<div class="platforms-name">Lorem</div>
                				
                				</a>
           	 				</li>
           	 				<!-- platforms item -->
           	 				<li class="platforms-item">
                				<a class="platforms-action" href="#">
                    				
                    				<div class="platforms-icon">
                    					<span class="svgicon icon-platforms-web"></span>
                    				</div>
                    				
                    				<div class="platforms-name">Lorem</div>
                				
                				</a>
           	 				</li>
           	 				<!-- platforms item -->
           	 				<li class="platforms-item">
                				<a class="platforms-action" href="#">
                    				
                    				<div class="platforms-icon">
                    					<span class="svgicon icon-platforms-web"></span>
                    				</div>
                    				
                    				<div class="platforms-name">Lorem</div>
                				
                				</a>
           	 				</li>
           	 				<!-- platforms item -->
           	 				<li class="platforms-item">
                				<a class="platforms-action" href="#">
                    				
                    				<div class="platforms-icon">
                    					<span class="svgicon icon-platforms-web"></span>
                    				</div>
                    				
                    				<div class="platforms-name">Lorem</div>
                				
                				</a>
           	 				</li>
           	 				<!-- platforms item -->
							<li class="platforms-item">
                				<a class="platforms-action" href="#">
                    				
                    				<div class="platforms-icon">
                    					<span class="svgicon icon-platforms-web"></span>
                    				</div>
                    				
                    				<div class="platforms-name">Lorem</div>
                				
                				</a>
           	 				</li>
           	 				<!-- platforms item -->
           	 				<li class="platforms-item">
                				<a class="platforms-action" href="#">
                    				
                    				<div class="platforms-icon">
                    					<span class="svgicon icon-platforms-web"></span>
                    				</div>
                    				
                    				<div class="platforms-name">Lorem</div>
                				
                				</a>
           	 				</li>
           	 				<!-- platforms item -->

            
                    </ul>
					</div>
					<!-- end of inner div  -->
				</nav>
				<!-- end of nav_platforms -->
				
				<section class="section_general section_reasons">
				 	<div class="inner">
				 		
						<h2>Lorem ipsum dolor sit amet, consectetur.</h2>

				        <p>
				            Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Beatae impedit, vel molestiae dignissimos, quaerat blanditiis!
				        </p>

						<ul>
				            <li>
				                <div class="icon">
				                	<div class="svgicon icon-reasons-everywhere"></div>
				                </div>
				                
				                <div class="desc">Lorem ipsum dolor sit amet. </div>
				            </li>
				            <li>
				                <div class="icon">
				                	<div class="svgicon icon-reasons-collaborate"></div>
				                </div>
				                
				                <div class="desc">Lorem ipsum dolor sit.</div>
				            </li>
				            <li>
				                <div class="icon">
				                	<div class="svgicon icon-reasons-design"></div>
				                </div>
				                
				                <div class="desc">Lorem ipsum dolor sit amet. </div>
				            </li>
						</ul>
						<!-- section with icon end here -->

				 	</div>
				 	<!-- end of inner div -->
				 </section>
				 <!-- end of reasons section -->

				<section class="section_general section--left section--bg-generic-access-anywhere section--flex--standard section--generic-mobile">
    				
    				<div class="inner">
        
        				<h2>Lorem ipsum dolor.</h2>
        				<p>
            				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem temporibus, accusamus aut incidunt beatae recusandae voluptas. Quas.
        				</p>
    
    				</div>
					<!-- end of inner div -->
				</section>
				<!-- end of first left_side section -->

				<section class="section_general section--right section--bg-generic-collaborate section--flex--standard section--generic-mobile">
				    <div class="inner">
				        
				        <h2>Lorem ipsum dolor sit.</h2>
				        <p>
				            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro officiis assumenda minus ducimus vel.
				            
				            
				    		<a href="https://www.youtube.com/watch?v=aVS4W7GZSq0" class="button-play-text">
				        		Watch a video<span class="svgicon icon-play-red"></span>
				    		</a>

        				</p>
        			</div>
        			<!-- end of inner div -->
				</section>
				<!-- end of first right section -->


				<section class="section_general section--left section--bg-generic-design section--flex--standard section--generic-mobile">
				    <div class="inner">
				        
				        <h2>Lorem ipsum dolor.</h2>
				        <p>
				            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quibusdam illo, veniam suscipit amet provident reiciendis.
				        </p>
				    
				    </div>
				    <!-- end of inner div -->
				</section>
				<!-- end of second leftside section -->

				<section class="section_general section-features">
				    <div class="inner">
						<h2 class="section-title text-center">Lorem ipsum dolor sit.</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga voluptatibus asperiores dolorem minima blanditiis magnam ipsa, dolor sint! Unde, hic!</p>

				        <div class="features--grid">

				            <article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>

				             <article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>
							
							<article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>

				            <article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>

				            <article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>

				                 <article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>

				             <article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>
							
							<article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>

				            <article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>

				            <article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>


				            <article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>


				            <article class="feature-card">
				                <div class="feature-card-icon svgicon icon-features-subtasks"></div>
				                <h3 class="feature-card-title">Lorem ipsum.</h3>
				                <p class="feature-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam expedita, saepe aliquam. Modi.</p>
				            </article>
				            


				        </div>
				        <!-- end of features grid div -->
				    </div>
				    <!-- end of inner div -->
				</section>
				<!-- end of section with many features -->
				
				<section class="section_general section-media">
				    <div class="inner">
				        <h2> Lorem ipsum dolor sit amet.</h2>
				        <ul>
				            <li>
				                <a href="#" target="_blank">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				                    <img src="https://d3ptyyxy2at9ui.cloudfront.net/4a04268e67d51ce1debff0bbf0305b86.png" alt="Forbes">
				                </a>
				            </li>
				            
				            <li>
				                <a href="#" target="_blank">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				                    <img src="https://d3ptyyxy2at9ui.cloudfront.net/4a04268e67d51ce1debff0bbf0305b86.png" alt="Forbes">
				                </a>
				            </li>

				            <li>
				                <a href="#" target="_blank">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				                    <img src="https://d3ptyyxy2at9ui.cloudfront.net/4a04268e67d51ce1debff0bbf0305b86.png" alt="Forbes">
				                </a>
				            </li>

				            <li>
				                <a href="#" target="_blank">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				                    <img src="https://d3ptyyxy2at9ui.cloudfront.net/4a04268e67d51ce1debff0bbf0305b86.png" alt="Forbes">
				                </a>
				            </li>

				            <li>
				                <a href="#" target="_blank">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				                    <img src="https://d3ptyyxy2at9ui.cloudfront.net/4a04268e67d51ce1debff0bbf0305b86.png" alt="Forbes">
				                </a>
				            </li>


				        </ul>
				    </div>
				    <!-- end of inner div -->
				</section>
				<!-- end of quotes sections -->
				
				<section id="section-users" class="section_general section-users">
					<div class="inner">
						<h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
						<ul>
							<li>
				                <img src="img/a.png" height="180" width="180" alt="Photo of Jay Parikh">
								<h3>Lorem ipsum dolor sit.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos explicabo dolor libero sequi, sed recusandae quibusdam esse temporibus voluptates delectus tempora, et enim error ullam non harum nesciunt cupiditate, quidem eum?</p>
								<p><strong>James Ipsum</strong>, Loremville, USA</p>
							</li>
							<li>
				                <img src="img/a.png" height="180" width="180"alt="Photo of Jay Parikh">
								<h3>Lorem ipsum dolor sit.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos explicabo dolor libero sequi, sed recusandae quibusdam esse temporibus voluptates delectus tempora, et enim error ullam non harum nesciunt cupiditate, quidem eum?</p>
								<p><strong>James Ipsum</strong>, Loremville, USA</p>
							</li>
							<li>
				                <img src="img/a.png" height="180" width="180" alt="Photo of Jay Parikh">
								<h3>Lorem ipsum dolor sit.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos explicabo dolor libero sequi, sed recusandae quibusdam esse temporibus voluptates delectus tempora, et enim error ullam non harum nesciunt cupiditate, quidem eum?</p>
								<p><strong>James Ipsum</strong>, Loremville, USA</p>
							</li>
						</ul>

					</div>
					<!-- end of inner div -->
				</section>
				<!-- end of user's section -->

				<section class="section_general section-todoist-with-you">
				    <div class="inner">
				        <h2 class="section-title">Lorem ipsum dolor sit amet.</h2>
				        <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				        
						<nav class="platforms">
							<div class="inner">
								 <ul class="platforms-items">
		            				
		            				<li class="platforms-item is-active">
		                				<a class="platforms-action" href="#">
		                    				
		                    				<div class="platforms-icon">
		                    					<span class="svgicon icon-platforms-web"></span>
		                    				</div>
		                    				
		                    				<div class="platforms-name">Lorem</div>
		                				
		                				</a>
		           	 				</li>
		           	 				<!-- platforms item -->
									<li class="platforms-item">
		                				<a class="platforms-action" href="#">
		                    				
		                    				<div class="platforms-icon">
		                    					<span class="svgicon icon-platforms-web"></span>
		                    				</div>
		                    				
		                    				<div class="platforms-name">Lorem</div>
		                				
		                				</a>
		           	 				</li>
		           	 				<!-- platforms item -->
		           	 				<li class="platforms-item">
		                				<a class="platforms-action" href="#">
		                    				
		                    				<div class="platforms-icon">
		                    					<span class="svgicon icon-platforms-web"></span>
		                    				</div>
		                    				
		                    				<div class="platforms-name">Lorem</div>
		                				
		                				</a>
		           	 				</li>
		           	 				<!-- platforms item -->
		           	 				<li class="platforms-item">
		                				<a class="platforms-action" href="#">
		                    				
		                    				<div class="platforms-icon">
		                    					<span class="svgicon icon-platforms-web"></span>
		                    				</div>
		                    				
		                    				<div class="platforms-name">Lorem</div>
		                				
		                				</a>
		           	 				</li>
		           	 				<!-- platforms item -->
		           	 				<li class="platforms-item">
		                				<a class="platforms-action" href="#">
		                    				
		                    				<div class="platforms-icon">
		                    					<span class="svgicon icon-platforms-web"></span>
		                    				</div>
		                    				
		                    				<div class="platforms-name">Lorem</div>
		                				
		                				</a>
		           	 				</li>
		           	 				<!-- platforms item -->
		           	 				<li class="platforms-item">
		                				<a class="platforms-action" href="#">
		                    				
		                    				<div class="platforms-icon">
		                    					<span class="svgicon icon-platforms-web"></span>
		                    				</div>
		                    				
		                    				<div class="platforms-name">Lorem</div>
		                				
		                				</a>
		           	 				</li>
		           	 				<!-- platforms item -->
									<li class="platforms-item">
		                				<a class="platforms-action" href="#">
		                    				
		                    				<div class="platforms-icon">
		                    					<span class="svgicon icon-platforms-web"></span>
		                    				</div>
		                    				
		                    				<div class="platforms-name">Lorem</div>
		                				
		                				</a>
		           	 				</li>
		           	 				<!-- platforms item -->
		           	 				<li class="platforms-item">
		                				<a class="platforms-action" href="#">
		                    				
		                    				<div class="platforms-icon">
		                    					<span class="svgicon icon-platforms-web"></span>
		                    				</div>
		                    				
		                    				<div class="platforms-name">Lorem</div>
		                				
		                				</a>
		           	 				</li>
		           	 				<!-- platforms item -->

		            
		                    </ul>
							</div>
							<!-- end of inner div  -->
						</nav>
						<!-- end of nav platforms -->

				    </div>
				    <!-- end of inner div -->
				</section>
				<!-- end of section with platforms item -->

				<section class="section_general section-footer-cta section--generic-borderless">
				    <div class="inner">
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, qui, delectus. Esse, ex, fuga.</p>
				        <p><img src="https://d3ptyyxy2at9ui.cloudfront.net/39e11f2dad49f7681ccc68688f8fac7f.svg" width="352" alt="Todoist - Fortune 100"></p>
				            
				        
				    	<a href="#" class="button width-full width-auto-@sm sel_signup2">Lorem ipsum dolor</a>


				    </div>
				</section>


				<footer class="section-footer" data-track-scroll="Scroll;Footer" id="footer">

				    <div class="section-footer-social-media">
				        <div class="section-footer-container">
				            <div class="section-footer-row section-footer-social-media__wrapper">
				                <h2 class="section-footer-menutitle">Keep in touch</h2>
				                <ul class="section-footer-social-media__list">
				                    <li class="section-footer-social-media__channel section-footer-social-media__channel--facebook">
				                        <a href="https://www.facebook.com/Todoist/" target="_blank" class="section-footer-social-media__link" title="Facebook">
				                            <span class="section-footer-social-media__icon"></span>
				                        </a>
				                    </li>
				                    <li class="section-footer-social-media__channel section-footer-social-media__channel--twitter">
				                        <a href="https://twitter.com/todoist" target="_blank" class="section-footer-social-media__link" title="Twitter">
				                            <span class="section-footer-social-media__icon"></span>
				                        </a>
				                    </li>
				                    <li class="section-footer-social-media__channel section-footer-social-media__channel--googleplus">
				                        <a href="https://plus.google.com/+Todoist" target="_blank" class="section-footer-social-media__link" title="Google+">
				                            <span class="section-footer-social-media__icon"></span>
				                        </a>
				                    </li>
				                    <li class="section-footer-social-media__channel section-footer-social-media__channel--youtube">
				                        <a href="http://www.youtube.com/user/DoistApps/videos" target="_blank" class="section-footer-social-media__link" title="YouTube">
				                            <span class="section-footer-social-media__icon"></span>
				                        </a>
				                    </li>
				                    <li class="section-footer-social-media__channel section-footer-social-media__channel--instagram">
				                        <a href="https://instagram.com/todoistofficial/" target="_blank" class="section-footer-social-media__link" title="Instagram">
				                            <span class="section-footer-social-media__icon"></span>
				                        </a>
				                    </li>
				                    <li class="section-footer-social-media__channel section-footer-social-media__channel--pinterest">
				                        <a href="https://www.pinterest.com/todoist/" target="_blank" class="section-footer-social-media__link" title="Pinterest">
				                            <span class="section-footer-social-media__icon"></span>
				                        </a>
				                    </li>
				                    <li class="section-footer-social-media__channel section-footer-social-media__channel--flipboard">
				                        <a href="https://flipboard.com/@Todoist" target="_blank" class="section-footer-social-media__link" title="Flipboard">
				                            <span class="section-footer-social-media__icon"></span>
				                        </a>
				                    </li>
				                    <li class="section-footer-social-media__channel section-footer-social-media__channel--dribbble">
				                        <a href="https://dribbble.com/todoist" target="_blank" class="section-footer-social-media__link" title="Dribbble">
				                            <span class="section-footer-social-media__icon"></span>
				                        </a>
				                    </li>
				                </ul>
				            </div>
				        </div>
				    </div>
					<!-- end social media section  -->
				    <div class="section-footer-container">
				        <div class="section-footer-row">
				            
				            <div class="section-footer-menu section-footer-menu--main">
				                <h2 class="section-footer-menutitle">Todoist</h2>
				                <ul class="section-footer-menuitems">
				                    <li class="section-footer-menucombo">
				                        Platform
				                        <select class="section-footer-dropdown js-platform-selector">
				                            <option value="overview" selected="selected">Overview</option>
				                            <option value="web" >Web</option>
				                            <option value="android" >Android Phone</option>
				                        </select>
				                    </li>
				                    <li class="section-footer-menucombo">
				                        Language
				                        <select class="section-footer-dropdown js-language-selector ">
				                                <option  value="https://da.todoist.com" target="_top">Dansk</option>
				                                <option selected="selected" value="https://en.todoist.com" target="_top">English</option></select>
				                        </select>
				                    </li>
				                </ul>
				            </div>
				            
				            <div class="section-footer-menu">
				                <h2 class="section-footer-menutitle">Learn More</h2>
				                <ul class="section-footer-menuitems">
				                    <li><a href="/business">For Business</a></li>
				                    <li><a href="/premium">Premium</a></li>
				                    <li><a href="/comparePlans">Compare Plans</a></li>
				                    <li><a href="/downloads">Downloads</a></li>
				                    <li><a href="https://developer.todoist.com" target="_blank">Developers</a></li>
				                    <li><a href="https://blog.todoist.com" target="_blank">Todoist Blog</a></li>
				                    <li><a href="/reviews">Reviews</a></li>
				                    <li><a href="/gifts">Gift Todoist Premium</a></li>
				                </ul>
				            </div>
				            
				            <div class="section-footer-menu">
				                <h2 class="section-footer-menutitle">Help Center</h2>
				                <ul class="section-footer-menuitems">
				                    <li><a href="https://support.todoist.com/">Support</a></li>
				                    <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
				                    <li><a href="/security" target="_blank">Security Policy</a></li>
				                    <li><a href="/terms" target="_blank">Terms of Service</a></li>
				                </ul>
				            </div>
				            
				            <div class="section-footer-menu">
				                <h2 class="section-footer-menutitle">Doist</h2>
				                <ul class="section-footer-menuitems">
				                    <li><a href="https://twistapp.com/" target="_blank">Twist<span class="section-footer__new_entry">New</span></a></li>
				                    <li><a href="https://doist.com/" target="_blank">About us</a></li>
				                    <li><a href="https://doist.com/jobs/" target="_blank">Jobs</a></li>
				                </ul>
				            </div>

				        </div>
				        <!-- end of footer_section_row -->
				    </div>
				    <!-- end of footer_section_container -->
				</footer>
				<!-- end of footer section -->


			</div>
			<!-- end of overview div -->
		</div>
		<!-- end of #wrapper div -->
	

         <script src = "js/vendor/my_script.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>



        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>

    </body>
</html>
