 #non_select1, #non_select2, #non_select3{
  display: inline-block;
}  

.label_edit1, 
.label_edit2,
.label_edit3{
  opacity: 0;
         -webkit-transition: all 0.7s ease;;
  -moz-transition: all 0.7s ease;;
  -o-transition: all 0.7s ease;;
  transition: all 0.7s ease;

}
#non_select1:hover>.label_edit1, #non_select2:hover>.label_edit2, #non_select3:hover>.label_edit3{
  opacity: 1;
}
#select1, #select2, #select3{
  display: none;
} 

.aft_fade, .aft_fade1, .aft_fade2, .aft_fade3, .aft_fade4, .aft_fade5 {
  opacity: 0;
    -webkit-transition: all 0.7s ease;;
  -moz-transition: all 0.7s ease;;
  -o-transition: all 0.7s ease;;
  transition: all 0.7s ease;
}

.predit:hover .aft_fade, .predit1:hover .aft_fade1, .predit2:hover > .aft_fade2, .predit3:hover > .aft_fade3, .predit4:hover > .aft_fade4, .predit5:hover > .aft_fade5{
  opacity: 1;
}

/*.edit:hover .aft_fade, .edit1:hover .aft_fade1, .edit2:hover > .aft_fade2, .edit3:hover > .aft_fade3, .edit4:hover > .aft_fade4, .edit5:hover > .aft_fade5{
  opacity: 1;
}*/

.edit, .edit1,  .edit2,  .edit3,  .edit4, .edit5{
    display:none;
}
.aft_fade1 img, .aft_fade3 img, .aft_fade4 img, .aft_fade5 img{
  margin-bottom: 1px;
}
.predit:hover .aft_fade{
  opacity:1;
}
#return_icon, #return_icon1, #return_icon2, #return_icon3, #return_icon4, #return_icon5{
  display: none;
opacity: 0;
}

@media (max-width:767px) {
    #return_icon,  #return_icon1,  #return_icon2,  #return_icon3,  #return_icon4,  #return_icon5{
      opacity:1;
    }  
    #return_icon1{
        margin-left: 13px ;
    }
}